a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navBar {
    background-color: deepskyblue;
    position: sticky;
    width: 100%;
    top: 0px;
    margin-inline: auto;
}

html {
  font-size: 16px;
}
@media (min-width: 769px) {
    html {
        font-size: 20px;
    }
    .navBar {
        width: 1000px;
    }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
